.header {
  grid-column: 1 / -1;
  background-color: var(--myBlue-color);
  font-size: 1.6rem;
  padding: 1rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  place-items: center;

  border-bottom: 2px solid var(--myOrange-color);

  &__phone {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 1rem;
  }

  &__phone-icon {
    fill: #fff;
    width: 2rem;
    height: 2rem;
  }

  &__number {
  }

  &__text {
  }

  &__search {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;

  }

  &__input {
    padding: 0.5rem 0 0.5rem 0.5rem;
    width: 20rem;
    margin-right: -2.4rem;

    &::placeholder {
      text-transform: uppercase;
      font-weight: bold;
      font-family: "Cinzel", serif;
    }
  }

  &__button {
    width: 1.8rem;
    height: 1.8rem;
    background-color: #fff;
    border: none;
    
  }

  &__button-icon {
    fill: #000;
    width: 2rem;
    height: 2rem;
    margin-top: -.2rem;

    &:active {
      transform: translateY(1.5px);
    }
  }

  &__shopping {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 1rem;
  }

  &__shopping-icon {
    width: 2rem;
    height: 2rem;
    fill: #fff;
  }

  &__shopping-text {
  }
}

@media screen and (max-width: 1119px) {
  .header__phone,
  .header__text,
  .header__search,
  .header__shopping {
    margin-bottom: 2rem;
  }
} 
