.navigation {
  grid-column: 1 / -1;
  background-color: #000;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(16, 1fr);

  &__box {
    grid-column: 3 / 4;
    display: grid;
    justify-items: center;
    grid-row-gap: 0.5rem;
  }

  &__box--text-1 {
    font-size: 2rem;
  }

  &__logo {
    width: 7rem;
  }

  &__box--text-2 {
    font-size: 3.2rem;
    color: var(--myBlue-color);
  }

  &__list {
    grid-column: 6 /14;

    font-size: 1.7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    justify-items: center;

    & a:link,
    & a:visited {
      color: white;
      transition: all .2s;
    }

    & a:hover,
    & a:active {
      color: var(--myOrange-color);
    }

    & > li {
      display: grid;
      text-align: center;
      grid-template-columns: min-content;
    }
  }
}

@media screen and (max-width: 1022px) {
  .navigation__list {
    grid-column: 5 / 16;
  }
}

@media screen and (max-width: 767px) {
  .navigation__list {
    grid-row-gap: 2rem;
  }
}

@media screen and (max-width: 494px) {
  .navigation__list {
    grid-column: 5 / 17;
  }
  
  .navigation__box {
    grid-column: 2 / 4;
  }
}

@media screen and (max-width: 458px) {
  .navigation__box {
    display: none;
  }

  .navigation__list {
    grid-column: 2/ 16;
  }
}

