:root {
  --myBlack-color: #0f0a0a;
  --myWhite-color: #f5efed;
  --myBlue-color: #2292a4;
  --myYellow-color: #bdbf09;
  --myOrange-color: #d96c06; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Cinzel", serif;
  font-weight: 700;
  font-display: swap;
  color: var(--myWhite-color); }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

.container {
  display: grid;
  grid-template-rows: repeat(6, min-content);
  grid-template-columns: repeat(12, 1fr); }

.header {
  grid-column: 1 / -1;
  background-color: var(--myBlue-color); }

.navigation {
  grid-column: 1 / -1;
  background-color: #000; }

.main {
  grid-column: 1 / -1; }

.rabatt {
  grid-column: 1 / -1;
  background-color: var(--myBlack-color); }

.info {
  grid-column: 1 / -1;
  background-color: var(--myBlue-color); }

.footer {
  grid-column: 1 / -1;
  background-color: #000; }
