:root {
  --myBlack-color: #0F0A0A;
  --myWhite-color: #F5EFED;
  --myBlue-color: #2292A4;
  --myYellow-color: #bdbf09;
  --myOrange-color: #d96c06; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Cinzel', serif;
  font-weight: 700;
  font-display: swap;
  color: var(--myWhite-color); }

li {
  list-style-type: none; }

a {
  text-decoration: none; }
